ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.icon-menu {
  height: 2rem;
  width: 2rem;
  --qx-text-opacity: 1;
  color: rgb(63 63 70 / var(--qx-text-opacity));
}

.icon-menu:hover {
  --qx-text-opacity: 1;
  color: rgb(113 113 122 / var(--qx-text-opacity));
}